<a href="https://colab.research.google.com/github/jamieprince/jamieprince.github.io/blob/main/WorldBankDataDownloader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, pandas as pd

In [ ]:
#loading World Bank library

In [ ]:
!pip install world-bank-data

Collecting world-bank-data
  Downloading world_bank_data-0.1.3.tar.gz (12 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from world-bank-data) (1.1.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from world-bank-data) (2.23.0)
Requirement already satisfied: cachetools in /usr/local/lib/python3.7/dist-packages (from world-bank-data) (4.2.4)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->world-bank-data) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->world-bank-data) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->world-bank-data) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->world-bank-data) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->world-bank-data) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->world-bank-data) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->world-bank-data) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->world-bank-data) (1.24.3)
Building wheels for collected packages: world-bank-data
  Building wheel for world-bank-data (setup.py) ... done
  Created wheel for world-bank-data: filename=world_bank_data-0.1.3-py3-none-any.whl size=11111 sha256=c2ed5431f18b09fbbe20462ef6aeede548bdf6499948c8964699683845196b22
  Stored in directory: /root/.cache/pip/wheels/95/74/5e/c32dde16dc1ef8d8e9cf134ac93ae723ffec4f60be9c4873f5
Successfully built world-bank-data
Installing collected packages: world-bank-data
Successfully installed world-bank-data-0.1.3

In [ ]:
import world_bank_data as wb

In [ ]:
df1 = pd.DataFrame(wb.get_series('NY.GDP.PCAP.CD', mrv=6)) 
df1.columns=["GDP per capita (current US$)"]
#obtaining GDP per capita from 2015-2020

In [ ]:
df1=df1[['GDP per capita (current US$)']]

In [ ]:
df2 = pd.DataFrame(wb.get_series('SE.TER.CUAT.ST.ZS', mrv=6)) 
df2.columns=["Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)	"]

In [ ]:
df2

                                                                                       Value
Country                     Series                                             Year
Africa Eastern and Southern Educational attainment, at least completed shor... 2015      NaN
                                                                               2016      NaN
                                                                               2017      NaN
                                                                               2018      NaN
                                                                               2019      NaN
...                                                                                      ...
Zimbabwe                    Educational attainment, at least completed shor... 2016      NaN
                                                                               2017  9.41853
                                                                               2018      NaN
                                                                               2019      NaN
                                                                               2020      NaN

[1596 rows x 1 columns]

In [ ]:
join = pd.concat([df1,df2])

In [ ]:
join.to_csv('join.csv')

In [ ]:
#saved as CSV file, 
#countries of interest flitered in Excel, 
#combined with data on Number of billionaires (taken from Wikipedia) using INDEX & MATCH functions in Excel,
#completed data set uploaded as CSV file on GitHub (correlation.csv)